[submodule "SPIRV-Headers"]
	path = SPIRV-Headers
	url = git://github.com/KhronosGroup/SPIRV-Headers
[submodule "Vulkan-Headers"]
	path = Vulkan-Headers
	url = git://github.com/KhronosGroup/Vulkan-Headers
[submodule "vkd3d"]
	path = vkd3d
	url = git://source.winehq.org/git/vkd3d.git
